.card-base {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-base p {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(54, 54, 54);
}

.card-base img {
  width: 150px;
  height: 150px;
}