header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(45deg, #F8F5F5, #FFF);
  padding: 1.5rem;
  border-bottom: solid 1px #ccc;
  box-shadow: inset 0 0 1em #ccc, 0 0 1em rgb(143, 143, 143);
}

header img {
  margin-bottom: .7rem;
}

header .menu {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .menu a {
  color: #666;
  font-size: .9rem;
  text-decoration: none;
}